@charset "UTF-8";
/* CSS Document */

body {
	font: 1em/1.2em Helvetica, sans-serif;
	background: #fff5e2;
	margin: 0px;
	padding: 0px;
	text-align: left;
	color: #000;
}

.hidden { display: none; }
.unhidden { display: block; }

h1			{
			font: italic 3em/0.9em Baskerville, sans-serif;
			color: #000;}
			
h2			{
			font: 1.5em/1em Times, Helvetica, sans-serif;
			}

h3			{
			margin-top: -20px;
			font: .8em/1.4em Helvetica, sans-serif;
			}
			
#container  {width:100%;
			float:left;
			top: 0px;
			text-align: center;
			position:absolute;
			}

#pic 		{
			text-align:center;
			padding-bottom:200px;
			}
			
.title		{
			text-align:center;
			font: 11em/1.2em Helvetica, sans-serif;
			padding-right:10%;
			padding-bottom:100px;
			color:#000;
			text-decoration:none;
			}			

#shops		{
			z-index: 900;
			width: 50%;
			height: 50%;
			left: 0px;
			bottom: 0px;
			position: fixed;
			text-align: center;
			font: 1.5em/1.2em Times, Helvetica, sans-serif;	
			color:#000;
			background-color: #fff;
			}	
			
#about		{
			z-index: 900;
			width: 45%;
			height: 47%;
			right: 0px;
			top: 0px;
			position: fixed;
			font: 1em/1.2em Times, Helvetica, sans-serif;
			padding-left: 5%;
			padding-top: 3%;	
			color:#000;
			background-color: #fff;
			}	

#email		{
			z-index: 900;
			width: 50%;
			height: 38%;
			right: 0px;
			bottom: 0px;
			position: fixed;
			padding-top: 12%;	
			font: 1em/1.2em Times, Helvetica, sans-serif;
			text-align: center;
			background-image:url(images/cheap_gradient.gif);
			}	

.mail		{
			font: 2em/1.2em Times, Helvetica, sans-serif;
			text-decoration:none;
			color:#000;
			}	
			
.mail:hover {
			color:#f00;
			text-decoration:underline;
			}						

#show 		{
			top:0px; 
			right:0px; 
			}
			
article	{
			padding-top: 110px;
			padding-bottom: 150px;
			}
			

